trigger:
- main

pool:
  name: Default   # Self-hosted Windows agent

stages:

# =========================
# STAGE 1: CI
# =========================
- stage: CI
  displayName: 'Continuous Integration'
  jobs:
  - job: Build
    displayName: 'Build .NET Application'
    steps:

    - task: UseDotNet@2
      displayName: 'Install .NET SDK'
      inputs:
        packageType: 'sdk'
        version: '8.x'

    - script: dotnet restore
      displayName: 'Restore dependencies'

    - script: dotnet build --no-restore
      displayName: 'Build application'

    - script: dotnet publish -c Release -o $(Build.ArtifactStagingDirectory)
      displayName: 'Publish application'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifact'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'


# =========================
# STAGE 2: DEPLOY TO DEV
# =========================
- stage: Dev
  displayName: 'Deploy to DEV'
  dependsOn: CI
  condition: succeeded()

  jobs:
  - deployment: DeployDev
    displayName: 'DEV Deployment'
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:

          - download: current
            artifact: drop

          - task: AzureCLI@2
            displayName: 'Deploy to DEV Web App'
            inputs:
              azureSubscription: 'Azure-Flipso-CD'
              scriptType: ps
              scriptLocation: inlineScript
              inlineScript: |
                $zipPath = "$(Pipeline.Workspace)\app.zip"
                Compress-Archive -Path "$(Pipeline.Workspace)\drop\*" -DestinationPath $zipPath -Force

                az webapp deploy `
                  --resource-group rg-flipso-cd `
                  --name flipso-dev-app `
                  --src-path $zipPath `
                  --type zip

          - powershell: |
              Start-Sleep -Seconds 15
              $url = "https://flipso-dev-app.azurewebsites.net/health"
              $res = Invoke-WebRequest $url -UseBasicParsing
              if ($res.StatusCode -ne 200) { exit 1 }
            displayName: 'DEV Health Check'


# =========================
# STAGE 3: DEPLOY TO PROD
# =========================
- stage: Prod
  displayName: 'Deploy to PROD'
  dependsOn: Dev
  condition: succeeded()

  jobs:
  - deployment: DeployProd
    displayName: 'PROD Deployment'
    environment: prod
    strategy:
      runOnce:
        deploy:
          steps:

          - download: current
            artifact: drop

          - task: AzureCLI@2
            displayName: 'Deploy to PROD Web App'
            inputs:
              azureSubscription: 'Azure-Flipso-CD'
              scriptType: ps
              scriptLocation: inlineScript
              inlineScript: |
                $zipPath = "$(Pipeline.Workspace)\app.zip"
                Compress-Archive -Path "$(Pipeline.Workspace)\drop\*" -DestinationPath $zipPath -Force

                az webapp deploy `
                  --resource-group rg-flipso-cd `
                  --name flipso-cd-app-ashish `
                  --src-path $zipPath `
                  --type zip

          - powershell: |
              Start-Sleep -Seconds 15
              $url = "https://flipso-cd-app-ashish.azurewebsites.net/health"
              $res = Invoke-WebRequest $url -UseBasicParsing
              if ($res.StatusCode -ne 200) { exit 1 }
            displayName: 'PROD Health Check'
