trigger:
- main

pool:
  name: Default   # self-hosted Windows agent pool

stages:

# =========================
# STAGE 1: CI
# =========================
- stage: CI
  displayName: 'Continuous Integration'
  jobs:
  - job: Build
    displayName: 'Build .NET Application'
    steps:

    - task: UseDotNet@2
      displayName: 'Install .NET SDK'
      inputs:
        packageType: 'sdk'
        version: '8.x'

    - script: dotnet restore
      displayName: 'Restore dependencies'

    - script: dotnet build --no-restore
      displayName: 'Build application'

    - script: dotnet publish -c Release -o $(Build.ArtifactStagingDirectory)
      displayName: 'Publish application'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifact'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'


# =========================
# STAGE 2: CD
# =========================
- stage: CD
  displayName: 'Continuous Deployment'
  dependsOn: CI
  condition: succeeded()

  jobs:

  # ---- Manual Approval ----
  - job: Approval
    displayName: 'Manual Approval Gate'
    pool: server
    steps:
    - task: ManualValidation@0
      displayName: 'Approve deployment to Azure'
      inputs:
        instructions: |
          Please approve to deploy the build to Azure Web App.
        timeoutInMinutes: 1440


  # ---- Deploy Job ----
  - job: Deploy
    displayName: 'Deploy to Azure Web App'
    dependsOn: Approval
    steps:

    - download: current
      artifact: drop

    - task: AzureCLI@2
      displayName: 'Deploy artifact using Azure CLI'
      inputs:
        azureSubscription: 'Azure-Flipso-CD'
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          Write-Host "Starting deployment to Azure Web App..."

          az webapp deploy `
            --resource-group rg-flipso-cd `
            --name flipso-cd-app-ashish `
            --src-path "$(Pipeline.Workspace)\drop" `
            --type zip

          Write-Host "Deployment completed successfully."


