trigger:
- main

pool:
   name: Default
  demands:
    - agent.name -equals windows-agent-1

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: dotnet restore
  displayName: 'Restore packages'

- script: dotnet build --no-restore
  displayName: 'Build application'
