trigger:
- main

pool:
  name: Default

steps:
- script: echo "Agent picked successfully"
  displayName: 'Agent test'

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: dotnet restore
  displayName: 'Restore packages'

- script: dotnet build --no-restore
  displayName: 'Build application'
