trigger:
- main

pool:
  name: Default

stages:
- stage: CI
  displayName: 'Continuous Integration'
  jobs:
  - job: Build
    displayName: 'Build Application'
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.x'

    - script: dotnet restore
      displayName: 'Restore dependencies'

    - script: dotnet build --no-restore
      displayName: 'Build application'
